<h1>
    <i></i>菜单管理 &raquo; {#if $action eq 'basic'#}菜单列表{#elseif $action eq 'add'#}添加菜单{#else#}编辑菜单{#/if#}
</h1>
<div class="itemCateNav">
    <div class="cateChoose">
        <a href="{#site_url("admin/navmenu/basic")#}"{#if $action eq 'basic'#} class='on'{#/if#}><span id="txt">菜单管理</span><span id="bgr"></span></a>
        <a href="{#site_url("admin/navmenu/add")#}"{#if $action eq 'add'#} class='on'{#/if#}><span id="txt">添加菜单</span><span id="bgr"></span></a>
        {#if $action eq 'edit'#}
        <a href="javascript:;" class='on'><span id="txt">编辑菜单</span><span id="bgr"></span></a>
        {#/if#}
    </div>
</div>