{#include file="admin/public/basic.html"#}
<link href="/static/css/admin/common.css" type="text/css" rel="stylesheet" />
<body>
<div class="mainBoxs">
    <div class="LK_L" style="right:0px">
        <dl style="width:97.5%;">
            <dt class="basebat"><span>您的资料</span></dt>
            <dd class="admin_table">
                <table width="100%">
                    <tbody>
                    <tr class="tr1 vt">
                        <td class="td1">用户名</td>
                        <td class="td2">{#$userinfo->username#}</td>
                    </tr>
                    <tr class="tr1 vt">
                        <td class="td1">级别</td>
                        <td class="td2">{#$userinfo->grouptitle#}</td>
                    </tr>
                    <tr class="tr1 vt">
                        <td class="td1">上次登录时间</td>
                        <td class="td2">{#mdate("%Y-%m-%dT%H:%i:%s%Q",$userinfo->lastlogintime)#}</td>
                    </tr>
                    <tr class="tr1 vt">
                        <td class="td1">上次登录IP</td>
                        <td class="td2">{#$userinfo->lastloginip|default:'这是第一次登录'#}</td>
                    </tr>
                    </tbody>
                </table>
            </dd>
        </dl>
        <dl style="width:97.5%;">
            <dt class="basebat"><span>系统信息</span></dt>
            <dd class="admin_table">
                <table width="100%">
                    <tbody>
                    <tr class="tr1 vt">
                        <td class="td1">服务器软件</td>
                        <td class="td2">{#$sys.serverSoft#}</td>
                    </tr>
                    <tr class="tr1 vt">
                        <td class="td1">PHP版本</td>
                        <td class="td2">{#$sys.PHPVersion#}</td>
                    </tr>
                    <tr class="tr1 vt">
                        <td class="td1">全局变量</td>
                        <td class="td2">{#$sys.globalRegister#}</td>
                    </tr>
                    <tr class="tr1 vt">
                        <td class="td1">GD库版本</td>
                        <td class="td2">{#$sys.gdVersion#}</td>
                    </tr>
                    <tr class="tr1 vt">
                        <td class="td1">PHP 内存限制</td>
                        <td class="td2">{#$sys.php_memory_limit#}</td>
                    </tr>
                    <tr class="tr1 vt">
                        <td class="td1">域名地址</td>
                        <td class="td2">{#$sys.domain#}</td>
                    </tr><tr class="tr1 vt">
                        <td class="td1">操作系统</td>
                        <td class="td2">{#$sys.serverOS#}</td>
                    </tr>
                    <tr class="tr1 vt">
                        <td class="td1">MySQL版本</td>
                        <td class="td2">{#$sys.MySQLVersion#}</td>
                    </tr>
                    <tr class="tr1 vt">
                        <td class="td1">上传文件</td>
                        <td class="td2">{#$sys.uploadFile#}</td>
                    </tr>
                    <tr class="tr1 vt">
                        <td class="td1">最大执行时间</td>
                        <td class="td2">{#$sys.max_execution_time#}</td>
                    </tr>
                    <tr class="tr1 vt">
                        <td class="td1">当前脚本占用内存</td>
                        <td class="td2">{#$sys.current_memory#}</td>
                    </tr>
                    <tr class="tr1 vt">
                        <td class="td1">服务器时间</td>
                        <td class="td2">{#$sys.serverTime#}</td>
                    </tr>
                    </tbody>
                </table>
            </dd>
        </dl>
        <dl style="width:97.5%;margin-bottom:15px;">
            <dt class="basebat"><span>开发团队</span></dt>
            <dd class="admin_table">
                <table width="100%">
                    <tbody>
                    <tr class="tr1 vt">
                        <td class="td1">系统支持</td>
                        <td class="td2"><a href="http://www.55like.com" target="_blank">上海五五来客科技股份有限公司</a></td>
                    </tr>
                    <tr class="tr1 vt">
                        <td class="td1">程序开发</td>
                        <td class="td2">Nicky Hung 邓永斌</td>
                    </tr>
                    <tr class="tr1 vt">
                        <td class="td1">页面设计</td>
                        <td class="td2">Johnny</td>
                    </tr>
                    <tr class="tr1 vt">
                        <td class="td1">程序版本</td>
                        <td class="td2">55like! Admin Models v1.0 Build 2013-05-01 </td>
                    </tr>
                    <tr class="tr1 vt">
                        <td class="td1">联系方式</td>
                        <td class="td2">
                            <a href="mailto:55like@163.com">55like@163.com</a>
                            24小时服务热线：138 1702 6239&nbsp;&nbsp;
                            业务咨询:021-6044 6660 / 6044 6661&nbsp;&nbsp;
                            售后服务：021-6044 6662 / 6044 6663
                        </td>
                    </tr>
                    <tr class="tr1 vt">
                        <td class="td1">官方地址</td>
                        <td class="td2">
                            <a href="http://www.55like.com" target="_blank">http://www.55like.com</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </dd>
        </dl>
    </div>
</div>

</body>
</html>